body {
	font-size: 1em;
	line-height: 1.5em;
}

.nav [class^="icon-"], [class*=" icon-"] {
	vertical-align: middle;
}

.inbox .row {
	padding-bottom: 6px;
	padding-top: 6px;
	border-bottom: 1px solid #E5E5FF;
	cursor: pointer;
}

.action-row {
	margin-top: -10px;
	margin-bottom: 10px;
}

.action-row .action-buttons {
	margin-left: 20px;
}

.action-row .btn-group > .moveto {
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
}

.offset2-7 { /* offset2 minus 7 */
	margin-left: 223px;
}

.offset2-7 > div.btn:first-child {
    padding-bottom: 1px;
    padding-top: 2px;
}

.offset2-7 > div.btn:first-child input[type="checkbox"] {
	margin-top: 5px;
}
