<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jimmy's Inbox</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--
    <link rel="shortcut icon" href="/static/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    -->
  </head>
  <body>
	<div class="container-fluid">
		<div class="row">
			<div class="span2">
				<ul class="nav nav-pills nav-stacked">				
					<li class="active">
						<a href="#"><i class="icon-inbox"></i> Inbox</a>
					</li>
					<li>
						<a href="#"><i class="icon-star"></i> Starred</a>
					</li>
					<li>
						<a href="#"><i class="icon-share-alt"></i> Sent</a>
					</li>
					<li>
						<a href="#"><i class="icon-trash"></i> Trash</a>
					</li>
				</ul>
			</div>
			<div class="span10 inbox">
    			{{range $index,$message := .Messages}}
				<div class="row" data-key="email/{{.Key}}">
					<div class="span0"><input type="checkbox"></div>
        		 	<div class="span2">{{.From}}&nbsp;</div>
        		 	<div class="span7">{{.Subject | html}}</div>
				</div>
    			{{end}}
			</div>
			{{range .Messages}}
				<div id="email-{{.Key}}" class="span10 email-body hidden">
					{{.Body}}
				</div>
			{{end}}
		</div>
	</div>
	<div id="token" class="hidden">{{.Token}}</div>
  </body>
  <script type="text/javascript" src="/_ah/channel/jsapi"></script>
  <script type="text/javascript" data-main="/static/js/main.js" src="/static/js/jquery/require-jquery-1.7.2.js"></script>
</html>
